<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="testConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="testConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HRConnectionString" connectionString="Data Source=172.17.1.102;Initial Catalog=peggy;User ID=where;Password=1234"
          providerName="System.Data.SqlClient" />
    <add name="MHETS.Properties.Settings.peggyConnectionString" connectionString="Data Source=172.17.1.102;Initial Catalog=peggy;User ID=where;Password=1234"
                providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
